
snippet tT "tag-default" wA
<$1>
  $2
</$1>$3
endsnippet

snippet tS "tag-span" wA
<$1>$2</$1>$3
endsnippet

snippet tP "tag-props" wA
<$1
  $2
>
  $3
</$1>$4
endsnippet

snippet tsP "tag-span-props" wA
<$1 $2>$3</$1>$4
endsnippet
