
## SPHINX DOCS {{{
snippet sp "sphinx parameter" b
:type   ${1}: ${2:type}
:param  $1: ${0:descr}
endsnippet

snippet st "sphinx thing" w
:$1:\`$2\`$0
endsnippet

snippet sc "sphinx class" w
:class:\`$2\`$0
endsnippet

snippet sm "sphinx method" w
:meth:\`$2\`$0
endsnippet
# }}}
